/*woot css up in here*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
	background-color: #fafafa;
	font-family: 'Roboto', sans-serif;
	min-width: 960px;
}

#scroll {
	overflow: hidden !important;
}

/**************/
/*MAIN CONTENT*/
/**************/
body {
	overflow-x: hidden !important;
	display: block;
	width: 100%;
	
	margin: 0px auto;
	padding-top: 8px;
	padding-bottom: 0px;
}

#header {
	display: inline-block;
}

#mugParent {
	margin: 0px;
	margin-bottom: -96px;
}

#mug {
	display: block;
	width: auto;
	height: 260px;
	
	position: relative;
	z-index: -1;
}

#name {
	width: 480px;
	height: auto;
	
	float: right;
	position: absolute;
	right: 7%;
	margin-top: 6%;
}

h1 {
	text-align: center;
}

h2 {
	float: right;
	position: absolute;
	right: 8%;
	margin-top: 15%;
	
	color: #f49ec4;
}

h2 a {
	margin: 0px 12px;
	
	color: #f49ec4;
}

h3 {
	text-align: center;
}

h3 a {
	color: #f49ec4;
}

h4 {
	text-align: center;
}

h4 a {
	color: #f49ec4;
}

#container {
	display: block;
	width: 960px;
	position: relative;
	float: none;
	
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

#content {
	display: block;
	width: 960px;
	height: auto;
	
	margin: 0px auto;
	margin-left: -12.5px;

	float: right;	
}

#demo {
	background-image: url("img/thumbnailVector.png");
	background-repeat: no-repeat;
	background-size: cover;
}

iframe {
	border: 0px;
	padding-bottom: 0px;
}

.nav {
	display: block;
	padding: 24px;
	padding-bottom: 16px;
	float: none;
}

.nav a {
	text-decoration:none;
	font-size: 24px;
	color: #181719;
	font-weight: bold;
	
	float: right;
}

.nav a:hover {
	color: #f49ec4;
}

.navLeft {
	margin-right: 52px;
	
	position: relative;
}

#anim {	
	margin-right: 180px;
}

#shot {	
	margin-right: 225px;
}

#content .nav {
	padding-top: 0px;
	padding-bottom: 12px;
	margin-right: 180px;
}

a {
	text-decoration: none !important;
}

div {
	margin: 12px;
}

p {
	color: #181719;
	font-size: 18px;
	
	text-align: center;
}

p a {
	color: #f49ec4;
}

.desc {
	display: block;
	margin: auto;

	width: 86%;
}

/****************/
/*FOOTER SECTION*/
/****************/
#footer {
	display: block;
	margin: auto;
	
	width: 100%;
	padding-top: 8px;
	padding-bottom: 4px;
	position:absolute;
	height: 24px;
}

#footer p {
	font-size: 14px;
	font-weight: bold;
	text-align:center;
	color: #6b6b6b;

	margin-top: 6px;
	margin-bottom: 0px;
	padding: 0px;
}

#footer img {
	padding-left: 4px;
	padding-right: 4px;
	filter: brightness(1);
}

#footer img:hover {
	filter: brightness(0);
}

#imgLeft {
	margin-left: 33.3%;
}

/*****************/
/*GALLERY SECTION*/
/*****************/
.galleryRow {
	display: block;
	margin: 0px 0px 9px;
}

.galleryRow img, 
.galleryRow video {
	display: inline-block;	
	max-width: 32%;
}

.galleryMiddle {
	padding: 0px 15px;
}

.galleryLeft {
	padding-right: 12px;
}

.galleryRow2 {
	display: block;
	margin: 0px 0px 14px;
}

.galleryRow2 img, 
.galleryRow2 video {
	display: inline-block;	
	max-width: 49%;
}

.galleryRow4 {
	display: block;
	margin: 0px 0px 9px;
}

.galleryRow4 img, 
.galleryRow4 video {
	display: inline-block;	
	max-width: 24%;
	padding-left: 6px;
}

/**************/
/*CONTACT FORM*/
/**************/
form {
    position: relative;
    width: 48%;
}

input, 
textarea { 
    outline: none;
}

.form {
    padding: 36px;
	padding-top: 12px;
}

.form input,
.form textarea {
    display: block;
    width: 96%;
    padding: 15px;
    margin-bottom: 10px;
	
    border: none;
    border-radius: 20px;
    background: #eeeeee;
	resize: none;

	font-family: 'Roboto', sans-serif;
}

button {
	display: block;
	margin: auto;
	width: 60%;
    padding: 10px;
    margin-top: 20px;
	
	text-decoration:none;
	font-size: 24px;
	color: #ffffff;
	font-weight: bold;
	
    border-radius: 20px;
    border: none;
    background: #f49ec4; 
}

button:hover {
    background: #181719;
}

#about {	
	display: block;
	margin: auto;
	position: absolute;
    width: 46.5%;
	
    padding: 10px;
    margin-top: 20px;
    margin-left: 45%;
	
	text-decoration:none;
	font-weight: bold;
}

#about h3 {
	font-size: 18px;
	color: #f49ec4;
}

#about p {
	font-size: 16px;
	text-align: left;
	width: 92%;
	margin-left: 4%;
}

/****************/
/* Writing Page */
/****************/

.writing-credits {
	float: right;
    width: 70%;
	min-width: 640px;

	margin-top: 0;
}

.writing-credits > .content-heading {
	margin: 0;
	padding-top: -2px;

	font-size: 21px;
	color: #f49ec4;
}

.writing-credits > h4 {
	text-align: left;

	margin: .5em;
}

.writing-credits > h5 {
	margin: 0;
	margin-top: -0.5em;
	margin-bottom: .5em;

	color: #3bd1fe;
	color: #6b6b6b;
	/*
	text-shadow: #181719 1px 1px;
	*/
}

.writing-credits > h4 > a {
	color: #181719;
}

.writing-credits > h4 > a:hover {
	color: #f49ec4;
}

.writing-credits > p {
	text-align: left;
	text-indent: 2em;

	margin: 0;
}

/*************/
/* BIO IMAGE */
/*************/

img.bio-image {
	width: 248px;
}

#content > img.bio-image:hover {
	filter: opacity(40%);
}

#content > h4.bio-image {
	position: absolute;
	margin: 0;
	float: none;
	z-index: 1;

	text-align: center;

	width: 248px;
	height: 248px;
	background-color: rgba(255, 255, 255, 0.6);

	filter: opacity(0%);
}

#content > h4.bio-image:hover {
	filter: opacity(100%);
}